/* Pinyon Script */
@font-face {
    font-family: 'Pinyon Script';
    src: url('fonts/PinyonScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Daubenton */
  @font-face {
    font-family: 'Daubenton';
    src: url('css\fonts\Daubenton.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Outfit - SemiBold */
  @font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  /* Outfit - Regular */
  @font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  /* Outfit - Medium */
  @font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  /* Outfit - Bold */
  @font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  /* Outfit - Black */
  @font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

body {
    font-family: 'Outfit', sans-serif;
  }

  h1 {
    font-family: 'Pinyon Script', cursive;
  }
  
  h2 {
    font-family: 'Daubenton', serif;
  }
  
  p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
  }